@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;0,800;1,600;1,700;1,800&display=swap");
@font-face {
  font-family: 'Mont';
  src: url(assets/fonts/Mont-ExtraLightDEMO.otf);
}
@font-face {
  font-family: "MontHeavy";
  src: url(assets/fonts/Mont-HeavyDEMO.otf);
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  display: block;
  height: 100%;
  font-family: "MontHeavy", sans-serif;
}

img,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.top_advertising {
  background-color: #11346f;
  height: 39px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top_advertising .advertising_info_wrapper {
  max-width: 350px;
  width: 325px;
  display: flex;
  justify-content: space-between;
  color: white;
  text-transform: uppercase;
}

.top_advertising .advertising_info_wrapper p {
  font-size: 14px;
  font-weight: 800;
  line-height: 30px;
}

/* NavBar */
.navbar_wrapper .company_brand img {
  cursor: pointer;
}

.navbar_wrapper #burger_menu img {
  width: 25px;
  display: none;
  cursor: pointer;
}

#sidebar_menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(7, 33, 78, 0.712);
  z-index: 2000;
  transition: left 0.2s;
  transition-timing-function: ease-in-out;
}

#sidebar_menu.closed {
  left: 3000px;
}

#sidebar_menu #close_button {
  width: 25px;
  cursor: pointer;
  float: right;
  margin: 30px 40px;
}

#sidebar_menu .sidebar_list {
  margin-top: 75px;
}

#sidebar_menu .sidebar_list_item {
  border-top: 0.5px solid white;
  border-bottom: 0.1px solid white;
  padding: 15px 20px;
  width: 100%;
  cursor: pointer;
  color: #fff;
}

#sidebar_menu .sidebar_list_item a {
  text-decoration: none;
  color: white;
}

.sidebar_list_item:hover {
  background-color: rgba(161, 155, 155, 0.329);
}

.navbar_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 67px;
  width: 100%;
  padding: 0 100px;
  background: rgba(245, 253, 255, 0.8);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
  backdrop-filter: blur(14px);
}

.navbar_wrapper .navbar nav {
  min-width: 515px;
  display: flex;
  justify-content: space-between;
}

.navbar_wrapper .navbar nav a {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
  color: #11346f;
  cursor: pointer;
  opacity: 0.75;
}

.navbar_wrapper .navbar nav a:hover {
  color: #11346F;
  opacity: 1;
}

.navbar_wrapper .navbar .active {
  opacity: 1;
}

.navbar_wrapper .order_button_wrapper button {
  background: #197aff;
  border-radius: 60px;
  color: white;
  width: 165px;
  height: 42px;
  border: none;
  cursor: pointer;
}

.navbar_wrapper .order_button_wrapper button:hover {
  opacity: 0.8;
}

/* HERO CONTAINER */

.hero_container .hero_wrapper {
  padding: 50px 100px;
  background: #FBFBFB;
}

.hero_container .hero_wrapper .header h1 {
  color: #213786;
  font-family: "MontHeavy", sans-serif;
  font-weight: 600;
}

.hero_container .hero_wrapper .header span {
  font-size: 42px;
  font-family: "MontHeavy", sans-serif;
  font-weight: 900;
  color: #197aff;
}

.hero_container .hero_wrapper .header h1 {
  font-size: 42px;
}

.hero_container .hero_wrapper .header h1 span {
  position: relative;
}

.hero_container .hero_wrapper .header .arrow,
.hero_container .hero_wrapper .header .straight_lines{
  position: absolute;
}

.hero_container .hero_wrapper .header .arrow {
  top: 0;
  right: -80px;
}

.hero_container .hero_wrapper .header .straight_lines {
  right: 0;
}

.hero_wrapper .info_text {
  margin: 30px 0;
  width: 55%;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
}

.product_description_wrapper {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.product_description {
  display: flex;
  background: rgba(174, 204, 255, 0.1);
  border: 1px solid rgba(174, 204, 255, 0.5);
  border-radius: 10px;
  width: 686px;
  height: 152px;
  justify-content: space-between;
  position: relative;
}

.product_description .card {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  border-left: 1px solid #cee2ff;
  padding-left: 22px;
}

.product_description .card:first-child {
  border: none;
}

.product_description .card:last-child  {
  padding-right: 12px;
}

.product_description .card p {
  color: #11346f;
  font-weight: 800;
  font-size: 14px;
  line-height: 20px;
  align-items: center;
  text-align: center;
}

.product_description .card ul {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 20px;
}

.product_description .card ul li {
  color: #262626;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
}

.hero_wrapper .massager {
  width: 391px;
  height: 241px;
  margin-top: -70px;
}

.header .massager_mobile {
  display: none;
}

.hero_wrapper .get_product_button button {
  background: #197aff;
  border-radius: 60px;
  width: 408px;
  height: 63px;
  color: white;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.91px;
  align-items: center;
  border: none;
  font-style: normal;
  cursor: pointer;
}

.hero_wrapper .get_product_button button:hover {
  opacity: 0.8;
}

/* Button and customer review */

.bundle_review_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button_bundle_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
  width: fit-content;
}

.button_bundle_wrapper .bundles {
  background: rgba(77, 145, 207, 0.15);
  box-shadow: 0px 0px 14px #ffffff;
  border-radius: 30px;
  font-family: "Montserrat", "sans-serif";
  padding: 10px 28px;
  font-weight: 500;
  font-size: 15px;
  line-height: 14px;
}

.button_bundle_wrapper .bundles span {
  color: #197aff;
  font-family: "Montserrat", "sans-serif";
  font-weight: 700;
}

.customer_review_card {
  min-width: 370px;
  width: 393px;
  height: 81px;
  background: rgba(234, 242, 255, 0.1);
  border: 1px solid rgba(174, 204, 255, 0.5);
  border-radius: 110px;
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
}

.customer_review_card img {
  width: 64px;
  height: 64px;
  margin-top: 7px;
  margin-left: 9px;
  border-radius: 50%;
}

.customer_review_wrapper {
  width: 75%;
}

.customer_review_card .customer_review {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  width: 79%;
  margin-top: 10px;
}

.customer_review_card .stars,
.stars_and_reviews .total_reviews .stars,
.customer_review_cardboard .stars {
  display: flex;
  align-items: center;
  margin-left: -5px;
}

.customer_review_card .stars img,
.customer_review_cardboard .stars img {
  width: 13.9px;
  height: 13.9px;
  margin: 10px 0.5px;
}

.customer_review_card .stars .customer_name {
  font-family: "Montserrat", "sans-serif";
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  color: #787979;
  margin: 1px 0 0 5px;
}

.bottom_info_wrapper {
  display: flex;
  margin: 0 auto;
  gap: 10px;
}

.bottom_info_wrapper img {
  width: 15.83px;
  height: 15.83px;
  margin-bottom: 9px;
  margin-right: 5px;
}

.bottom_info_wrapper .verified_blue {
  display: flex;
  align-items: center;
}

.bottom_info_wrapper .verified_blue p {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 11px;
  font-style: normal;
  line-height: 15px;
  color: #197aff;
}

/* Company Benefits */

.company_benefits_container {
  width: 100%;
  height: 97px;
  background: #11346f;
  backdrop-filter: blur(2px);
  margin-top: 15;

  color: white;
}

.company_benefits_container .company_benefits {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.company_benefits .benefit_item {
  display: flex;
  align-items: center;
}

.company_benefits .benefit_item p {
  font-weight: 800;
  font-size: 16px;
}

.company_benefits .benefit_item .img_container {
  background-color: white;
  padding: 7px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Offer */
.offer_container {
  width: 100%;
  height: 770px;
  background: linear-gradient(118.72deg, #aeccff -18.14%, #197aff 165.34%);
}

.offer_wrapper .heading_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 29px;
}

.offer_wrapper .heading_wrapper h1 {
  font-size: 37px;
}

.offer_wrapper .heading_wrapper h1:first-child {
  font-weight: 700;
  line-height: 49px;
  color: #11346f;
  text-align: center;
}

.offer_wrapper .heading_wrapper h1:last-child {
  color: #ffffff;
  font-weight: 900;
  line-height: 50px;
  position: relative;
}

.offer_wrapper .heading_wrapper h1:last-child::after {
  content: url("./assets/img/lines_white.png");
  position: absolute;
  left: 9px;
  top: 20px;
}

.offer_wrapper .offer_cards_container {
  width: 85%;
  margin: 40px auto 0 auto;
  display: flex;
  justify-content: space-between;
}

.offer_wrapper .offer_cards_container .offer_card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* min-width: 368px; */
  width: 368px;
  height: 100%;
  border: 1.5px solid #197aff;
  background: rgba(246, 248, 252, 0.7);
  border-radius: 18px;
}

.offer_wrapper .offer_cards_container .offer_card:nth-child(2) {
  background: linear-gradient(180deg, #ffffff 0%, #d7e6ff 100%);
}

.offer_wrapper .offer_cards_container .offer_card .massager_small {
  height: 100px;
  margin-top: -20px;
}

.offer_wrapper .offer_cards_container .offer_card h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 37px;
  color: #11346F;
  margin-top: 63px;
}

.offer_cards_container .offer_card .card_price {
  font-weight: 900;
  font-size: 32px;
  color: #11346F;
  margin-top: 20px;
}

.offer_cards_container .offer_card .freeshipping_text {
  font-weight: 700;
  font-size: 14px;
  color: #11346F;
  font-family:'Gilroy', sans-serif;
  margin-top: 5px;
}

.offer_cards_container .left_card .money_back_30 {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 30px 0 50px 0;
}

.offer_cards_container .left_card .money_back_30 p {
  font-family:'Gilroy', sans-serif;
  font-weight: 800;
  font-size: 13px;
  color: #11346F;
}

.offer_cards_container .left_card .different_offer,
.middle_card .different_offer,
.right_card .different_offer {
  display: flex;
  gap: 5px;
  color: #11346F;
  font-size: 12px;
  margin-bottom: 50px;
}

.offer_cards_container .left_card .different_offer p,
.middle_card .different_offer p,
.right_card .different_offer p {
  font-weight: 700;
}

.offer_cards_container .left_card .different_offer span,
.middle_card .different_offer span,
.right_card .different_offer span {
  font-weight: 900;
}

.offer_card .get_magic_button_wrapper {
  width: 90%;
  background: #197AFF;
  box-shadow: 0px 7px 14px rgba(25, 122, 255, 0.5);
  border-radius: 60px;
  height: 53px;
  border: none;
  color: #ffffff;
  font-weight: 800;
  font-size: 18px;
  font-family: "Mont", sans-serif;
  cursor: pointer;
}

.offer_card .get_magic_button_wrapper:hover {
  opacity: .8;
}

.offer_card .payment_container {
  display: flex;
  margin: 20px 0;
  gap: 12px;
}

.offer_card .payment_container .payment_image_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Middle Card */
.middle_card,
.right_card {
  position: relative;
}

.middle_card .triple_massager {
  height: 100px;
  margin-top: -20px;
}

.middle_card .tilted_arrow,
.right_card .tilted_arrow {
  position: absolute;
  right: 25px;
  top: 65px;
  width: 70px;
}

.middle_card .most_popular,
.right_card .best_value {
  background: #57AC73;
  border-radius: 50px;
  color: white;
  font-weight: 700;
  font-size: 12px;
  padding: 10px 20px;
  margin: 20px 0 7px 0;
}

.middle_card .middle_card_offer,
.right_card .middle_card_offer {
  font-size: 30px;
  line-height: 40px;
}

.middle_card .middle_card_offer p,
.right_card .middle_card_offer p {
 font-weight: 700; 
 color: #11346F;
}

.middle_card .middle_card_offer span,
.right_card .middle_card_offer span  {
  font-weight: 800;
  color: #197AFF;
  position: relative;
}

.middle_card .middle_card_offer span img,
.right_card .middle_card_offer span img,
.customer_reviews_wrapper h1 span img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.middle_card .prices,
.right_card .prices  {
  display: flex;
  margin: 17px 0 12px 0;
  gap :15px;
}

.middle_card .prices .new_price,
.right_card .prices .new_price {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.middle_card .prices .new_price .price,
.right_card .prices .new_price .price {
  font-weight: 900;
  font-size: 32px;
  color: #11346F;
}

.middle_card .prices .old_price,
.right_card .prices .old_price {
  font-weight: 800;
  font-size: 32px;
  color: #93A2BB;
  text-decoration: line-through;
}

.prices .new_price .freeshipping_text {
  margin-top: 4px;
}

.middle_card .card_benefits,
.right_card .card_benefits {
  height: 83px;
  width: 90%;
  border: 1px solid #AECCFF;
  border-radius: 19px;
}

.middle_card .card_benefits .card_benefits_top,
.right_card .card_benefits .card_benefits_top {
  display: flex;
  position: relative;
}

.middle_card .card_benefits .sale,
.right_card .card_benefits .sale {
  background: #BFF5BE;
  border: 1px solid #99D298;
  border-radius: 48px;
  width: 159px;
  height: 43px;
  font-weight: 800;
  font-size: 12px;
  color: #11346F;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -1px;
  margin-top: -2px;
  z-index: 20;
}

.middle_card .card_benefits .money_back,
.right_card .card_benefits .money_back {
  background: #F0F6FF;
  border: 1px solid #AECCFF;
  border-radius: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
  color: #11346F;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  position: absolute;
  right: -2px;
  top: -2px;
  width: 220px;
  height: 43px;
  z-index: 0;
  gap: 5px;
}

.card_benefits .order_quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
}

.card_benefits .order_quantity p {
  font-weight: 800;
  font-size: 13px;
  color: #11346F;
  margin-left: 8px;
}

.middle_card .middle_button,
.right_card .right_button {
  margin: 36px 0 0 0;
}

.middle_card .middle_offer,
.right_card .right_offer {
  margin-bottom: 25px;
}

/* Right Card */
.right_card .multiple_massager{
  margin-top: -20px;
  height: 100px;
}

.right_card .best_value {
  background: #AC5780;
}

/* Customer review container */

.customer_reviews_container {
  background: #F6F8FC;
  width: 100%;
}

.customer_reviews_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.customer_reviews_wrapper h1 {
  margin: 50px 0 20px 0;
  color: #11346F;
  font-weight: 600;
  font-size: 37px;
  line-height: 49px;
}

.customer_reviews_wrapper h1 span {
  font-weight: 800;
  color: #197AFF;
  position: relative;
}

.customer_reviews_wrapper h1 span img {
  bottom: -5px;
}

.customer_reviews_wrapper .stars_and_reviews {
  display: flex;
  width: 85%;
  justify-content: space-between;
  margin: 20px 0;
}

.stars_and_reviews .total_reviews,
.stars_and_reviews .total_reviews .stars {
  display: flex;
}

.stars_and_reviews .total_reviews .stars {
  gap: 5px;
  margin-right: 10px;
}

.stars_and_reviews .total_reviews .review_amount {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  color: #11346F;
}

.stars_and_reviews .write_review_button .review_button {
  background: #F6F8FC;
  border: 1px solid #213786;
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  font-family: "Gilroy", sans-serif;
  color: #3A3075;
  width: 133px;
  height: 30px;
  cursor: pointer;
}

.stars_and_reviews .write_review_button .review_button:hover {
  background: #3A3075;
  color: #F6F8FC;
  opacity: .8;
}

/* Customer Review Cards */
.customer_review_cards_wrapper {
  width: 90%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  overflow: hidden;
}

.customer_review_cards_wrapper .customer_review_cardboard {
  display: flex;
  flex-direction: column;
  min-width: 285px;
  max-width: 285px;
  background: #FFFFFF;
  border: 1px solid #E9E9E9;
  border-radius: 10px;
  margin-bottom: 40px;
  cursor: pointer;
}

.customer_review_cardboard .customer_star_wrapper {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 10px auto;
}

.customer_star_wrapper .verified_green {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: 20px;
}

.customer_star_wrapper .customer {
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
  color: #11346F;
}

.customer_star_wrapper .verified_green .verified_buyer {
  color: #89C25F;
  font-weight: 600;
  font-size: 13px;
}

.customer_review_cardboard .stars {
  gap: 3px;
  width: 90%;
  margin: 0 auto;
  display: flex;
}

.customer_review_cardboard .stars img {
  margin: 0 0 20px 0;
}

.customer_review_cardboard .customer_review_text_wrapper {
  width: 90%;
  margin: 0 auto;
}

.customer_review_cardboard .customer_review_text_wrapper p {
  font-style: normal;
  font-weight: 1000;
  font-size: 13px;
  line-height: 26px;
  font-family: "Mont", sans-serif;
}

/* FAQ Section */

.faq_container {
  width: 100%;
  background: #11346F;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: calc(616px - 527.89px);
}


.faq_container .faq_header {
  margin: 50px 0 20px 0;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 37px;
  line-height: 49px;
  text-align: center;
}


.faq_container .faq_header span {
  position: relative;
}

.faq_container .faq_header img {
  width: 180px;
  position: absolute;
  right: 0px;
  bottom: -3px;
}

.faq_container h1 span {
  font-weight: 800;
}

.faq_container .faq_wrapper {
  display: flex;
  margin-top: 10px;
  width: 85%;
  justify-content: space-between;
  gap: 84px;
}

.faq_container .faq_wrapper > img {
  height: 100%;
}

.faq_container .faq_wrapper .question_answer_wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-grow: 1;
}

.faq_wrapper .faqs .question_section {
  display: flex;
  justify-content: space-between;
  padding: 20px 25px;
  align-items: center;
  background: #194081;
  border: 1px solid #31548E;
  border-radius: 9px;
  cursor: pointer;
  gap: 10px;
}

.faq_wrapper .faqs .question_section {
  /* border: 9px; */
  border-radius: 9px;
}



.faq_wrapper .faqs .question_section p {
  font-weight: 600;
  font-size: 15px;
  color: #AECCFF;
}

.faq_wrapper .question_section p {
  font-size: 16px;
}

.faq_wrapper .faqs .answer_section {
  background: #11346F;
  border: 1px solid #31548E;
  border-radius: 0 0 9px 9px;
  padding: 25px;
  font-weight: 600;
  font-size: 14px;
  color: #AECCFF;

  display: none;
}

.faq_container .faq_wrapper .question_answer_wrapper .all_faq_wrapper {
  color: #F6F8FC;
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: -3px;
}

/* When question section is opened */
.faq_wrapper .question_section.open {
  border-radius: 9px 9px 0px 0px;
}

.faq_wrapper .question_section.open > p {
  color: #FFFFFF;
  font-weight: 700;
}

/* /RESPONSIVE/ */

@media only screen and (max-width: 1300px) {
  .hero_wrapper .massager {
    width: 250px;
    height: 150px;
    margin-top: -10px;
  }

  .offer_wrapper .offer_cards_container {
    width: 95%;
    gap: 10px;
  }
}

@media only screen and (max-width: 1180px) {
  .offer_wrapper .offer_cards_container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
    width: 90%;
  }

  .offer_container {
    height: fit-content;
    padding-bottom: 50px;
    gap: 50px;
  }
}

@media only screen and (max-width: 1070px) {
  .navbar_wrapper {
    padding: 0 50px;
  }

  .faq_wrapper {
    flex-direction: column;
  }

  .product_description {
    height: 200px;
  }

  .product_description .card {
    padding-right: 12px;
  }

  .product_description .card p {
    font-size: 13px;
  }

  .product_description .card ul li {
    font-size: 11px;
  }

  .bundle_review_wrapper {
    flex-direction: column;
  }

  .customer_review_card {
    margin-top: 23px;
  } 
}

@media only screen and (max-width: 970px) {
  .navbar_wrapper .navbar {
    display: none;
  }
  .navbar_wrapper {
    padding: 0 100px;
  }
}

@media only screen and (max-width: 860px) {
  .offer_wrapper .offer_cards_container {
    grid-template-columns: auto;
    justify-content: center;
  }
}

@media only screen and (max-width: 800px) {
  .hero_wrapper .info_text {
    width: 100%;
  }

  .hero_wrapper .massager {
    display: none;
  }

  .header {
    display: flex;
    gap: 25px;
  }

  .header .massager_mobile {
    display: block;
    width: 264px;
    height: 178px;
  }
  
  .product_description {
    height: 152px;
  }

  .hero_container{
    background: #F5FDFF;
  }

  .hero_container .hero_wrapper {
    padding: 0;
    width: 90%;
    margin: 0 auto;
    padding: 50px 0;
    background: #F5FDFF;
  }
}

@media only screen and (max-width: 700px) {
  .company_benefits .benefit_item p {
    font-size: 12px;
  }

  .company_benefits .benefit_item .img_container {
    padding: 3px;
  }
}

@media only screen and (max-width: 645px) {
  .hero_container .hero_wrapper .header .arrow {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    width: 50%;
  }

  .faq_container .faq_wrapper > img {
    height: 313px;
  }

  .faq_container .faq_wrapper {
    width: 90%;
  }

  .customer_reviews_wrapper h1 {
    text-align: center;
    width: 90%;
  }

  .customer_reviews_wrapper .stars_and_reviews {
    margin: 20px auto;
    width: 90%;
  }

  .product_description {
    height: 120px;
    border: none;
    background: #F5FDFF;
  }

  .product_description .card {
    border: none;
  }

  .product_description .card p {
    margin-top: 10px;
    font-size: 12px;
  }

  .product_description .card ul {
    display: none;
  }

}

@media only screen and (max-width: 550px) {
  .order_button_wrapper {
    display: none;
  }
  
  .hero_container .hero_wrapper .header h1,
  .hero_container .hero_wrapper .header span {
    font-size: 26px;
  }

  .hero_container .hero_wrapper .header .arrow {
    right: -50px;
  }

  .header .massager_mobile {
    height: 118px;
  }

  .navbar_wrapper {
    align-items: center;
    padding: 0 20px;
  }

  .navbar_wrapper #burger_menu img {
    display: block;
  }
  
  .top_advertising {
    align-content: center;
    display: flex;
    justify-content: space-between;
  }
  .top_advertising .advertising_info_wrapper {
    width: 90%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
  }

  .company_benefits_container .company_benefits .rave_reviews {
    display: none;
    gap: 20px;
  }
}

@media only screen and (max-width: 455px) { 
  .hero_wrapper .get_product_button button {
    width: 300px;
    margin: 0 auto;
  }

  .stars_and_reviews .total_reviews  {
    flex-direction: column;
    gap: 10px;
  }

  .stars_and_reviews .total_reviews .stars {
    margin-left: 10px;
  }

  .stars_and_reviews .total_reviews .review_amount {
    margin-left: 8px;
  }

  .product_description .card {
    padding: 0;
  }

  .product_description .card:last-child {
    padding: 0;
  }

  .customer_review_card {
    min-width: 370px;
  }
}

@media only screen and (max-width: 415px) { 
  .top_advertising .advertising_info_wrapper p {
    font-size: 12px;
  }

  .customer_review_card {
    width: 100%;
  }

  .company_benefits .benefit_item p { 
    font-size: 10px;
  }

  .header .massager_mobile {
    height: 97px;
  }

  .hero_container .hero_wrapper .header h1, .hero_container .hero_wrapper .header span {
    font-size: 20px;
  }
}